.Gallery-section {
    height: 110vh;
    background-color: black;
}

.Gallery-header {
    color: gold;
    font-family: 'Architects Daughter', cursive;
    text-align: center;
    font-size: 50px;
}

#Gallery-carousel {
    width: 800px;
    margin-left: 238px;
    margin-top: 50px;
}

img {
    height: 500px;
}


/* Media Query iPhone 13 Pro */
@media screen 
    and (min-width: 390px) 
    and (max-width: 844px){ 

        .Gallery-header {
            font-size: 50px;
        }

        #Gallery-carousel {
            margin-top: 70px;
            width: 380px;
            margin-left: 5px;
        }

    }