.Home-section {
    background-color: black;
    height: 100vh;
}

.staySharp {
    height: 300px;
    border-radius: 50%;
    margin-left: 490px;
    margin-top: 40px;
    z-index: 1;
    position: relative;
}

.Home-header {
    color: gold;
    font-family: 'Architects Daughter', cursive;
    text-align: center;
    padding-top: 25px;
}

.header1 {
    font-size: 50px;
}

.header2 {
    margin-top: 15px;
    letter-spacing: 15px;
    font-size: 50px;
}

.Home-message {
    color: white;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

#Home-btn {
    margin-top: 30px;
    background-color: gold;
    font-size: 20px;
    display: flex;
    margin-left: 575px;
    width: 120px;
    height: 42px;
    padding: 5px;
    z-index: 1;
    position: relative;
}

#Home-link {
    text-decoration: none;
    color: black;
}


/* Media Query iPhone 13 Pro */
@media screen 
    and (min-width: 390px) 
    and (max-width: 844px){ 
          

        .staySharp {
            margin-top: -570px;
            display: flex;
            margin-left: 40px;
        }

        .Home-header {
            padding-top: 335px;
        }

        #header1 {
          font-size: 35px;
          letter-spacing: 5px;
        }

        #header2 {
          font-size: 35px;
        }

        .header2 {
          letter-spacing: 12px;
        }

        .Home-message {
            text-align: center;
            margin-top: 20px;
            font-size: 20px;
        }

        #Home-btn {
            margin-left: 135px;
            display: flex;
            margin-top: 50px;
            font-size: 20px;
            height: 50px;
            background-color: gold;
            border: none;
            width: 120px;
            padding: 5px;
        }

        #Home-link {
            text-decoration: none;
            border-bottom: none;
            margin-top: 10px;
            color: black;
            margin-left: 5px;
            margin-top: 7px;
        }

    }